@import "reset.scss";
@import "variables.scss";

.wrapper {
  @include flex-align-center;
  width: 100vw;
  height: 100vh;
}

.calc-wrapper {
  //@include red-border;
  width: 425px;
  height: 600px;
}

.top-row, {
  @include green-border;
  height: 30%;
  margin-bottom: 2px;
}

.second-row,
.third-row,
.fourth-row,
.fifth-row {
  //@include green-border;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc((575px - 30%) / 4);
}

.button {
  @include blue-border;
  height: 95%;
  width: 24%;
}
