@import "reset.scss";
@import "variables.scss";

.wrapper {
  @include flex-align-center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom,#9a1725,#b51f13);
}

.calc-wrapper {
  width: 400px;
  height: 600px;
  background: linear-gradient(to bottom, #cb2d3e, #ef473a);
  box-shadow: 1px 1px 20px 8px rgba(0, 0, 0, 0.3);
  padding: 6px 5px;
}

.top-row, {
  height: 30%;
  margin-bottom: 2px;
}

.big-letters {
  //@include red-border;
  @include flex-align-right;
  height: 57%;
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 200;
  padding-right: 20px;
}

.small-letters {
  //@include red-border;
  @include flex-align-right;
  align-items: flex-end;
  height: 40%;
  margin-bottom: 2px;

  p {
    @include flex-align-right;
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 200;
    margin: 0;
    padding-right: 20px;
  }
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc((100% - 30%) / 5);
}

.button {
  @include flex-align-center;
  height: 95%;
  width: 24%;
  background-color: rgba(160, 157, 35, 0.05);
  box-shadow: inset 0 0 10px 1px rgba(206, 39, 44, 0.71);
  border: 1px solid rgba(165, 85, 85, 0.31);
  cursor: pointer;

  p {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 300;
  }
}

.button.zero {
  width: 49%;
  margin-right: 2px;
}

.button.point {
  margin-right: 2px;
}

.button.equals {
  margin-left: 1px;
}
